.app {
    display: flex;
}

.bdl-CollapsibleSidebar-wrapper {
    height: 100vh;
}

.bdl-CollapsibleSidebar-nav {
    padding-top: 20px; 
}

.nav-menu-item {
    padding: 0px 0px 10px 0px;
}

.nav-submenu-item {
    padding: 0px 0px 0px 30px;
}

.content {
    width: calc(100% + 40px);
    padding: 0 0 0 20px;
    margin: 0 0 0 -20px;

}

.elements {
    padding-top: 0px;
    height: 100%;


}


.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100vh;
  }

.columns {
    padding-left: 25px;
    display: flex;
    flex-direction: row;
}

.rows {
    display: flex;
    flex-direction: column;
}